PORT=5000
MONGO_URI=mongodb+srv://Aastha:Aastha225225@cluster0.j3hhfz0.mongodb.net/shopnest?retryWrites=true&w=majority

JWT_SECRET=ShopNestSecret2026
CLOUDINARY_CLOUD_NAME=dmpdi6por
CLOUDINARY_API_KEY=963853156763186
CLOUDINARY_API_SECRET=**********
EMAIL_USER=ash02022004@gmail.com
EMAIL_PASS=zxhj npij jnkm kots
